*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    min-height: 100vh;
    position: relative;
}


/*--------------------------HEADER CONTENT-----------------------------*/


.header{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    /* filter: blur(2px);  */
    color: rgb(255, 253, 249);
    height: 80px;
    /* opacity: 0.5; */
    font-size: 35px;
    margin-top: 0;
    position: sticky;
    z-index: 1;
    top: 0;
}

.headerText{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(122, 74, 255)), color-stop(0.15, rgb(255, 95, 255)), color-stop(0.3, rgb(126, 126, 255)), color-stop(0.45, rgb(106, 255, 255)), color-stop(0.6, rgb(218, 123, 255)),color-stop(0.75, rgb(197, 111, 255)), color-stop(0.9, rgb(255, 140, 221)), color-stop(1, rgb(255, 123, 123)) );
    /* background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ); */
    color:transparent;
    background-clip: text;
    display: flex;
    width: 400px;
    padding-left: 45px;
    font-size: 50px;
    align-items: center;
}


.menuheader{
    display: flex; 
}


.menu{
    border: 1px linear-gradient( linear, left top, right top, color-stop(0, rgb(122, 74, 255)), color-stop(0.15, rgb(255, 95, 255)), color-stop(0.3, rgb(126, 126, 255)), color-stop(0.45, rgb(106, 255, 255)), color-stop(0.6, rgb(218, 123, 255)),color-stop(0.75, rgb(197, 111, 255)), color-stop(0.9, rgb(255, 140, 221)), color-stop(1, rgb(255, 123, 123)) );
    font-size: 35px;
    color: rgb(146, 137, 137);
    padding-top: 13px;
    text-align: center;
    font-weight: 300;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
}

.menu:hover{background: rgb(20, 20, 20);}





/*----------------------------BODY CONTENT--------------------------------*/

.imageContainer{
    display: flex;
    width: 100%;
    text-align: right;
}


.textImage{
    display: flex;
    border: 1px solid red;
    position: absolute;
    z-index: 0;
    top: 200px;
    left: 50%;
    width: 300px;
}

.topImage{
    width: 100%;
}

.topImage img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.middle{
    overflow: auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.flexbox-middle{
    width: 300px;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    box-sizing: border-box;
    flex-basis: 50%;    
}



/*--------------------------FOOTER CONTENT----------------------------------*/


.footer{
    border: 1px solid red;
    background: #303036;
    color: #d3d3d3;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

.footer .footer-content{
    background: #303036;
    width: 100%;
    border: 1px solid red;
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    width: 100%;
    padding: 25 px;
    border: 1px solid red;
    font-weight: 600;
}

.footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;    
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer a{color: #d3d3d3;}